<% provide(:title, "Show conversation") %>
<% if user_signed_in? %>
	<% @User = User.all - [current_user] - @conversation.calls.where(callable_type: "User").select { |w| (w.supporters.include?(current_user) || w.unsupporters.include?(current_user))}.collect{|x| x.callable } %>
	<% @PotentialUser = PotentialUser.all - @conversation.calls.where(callable_type: "PotentialUser").select { |w| (w.supporters.include?(current_user) || w.unsupporters.include?(current_user)) }.collect{|x| x.callable } %>
<% end %>


<% if @conversation.posts.any? %>
<h1><%= @conversation.posts.first.title %></h1>
<% else %>
<% user =  @conversation.calls.first.callable %>

<h1><%= @conversation.calls.first.supporters.collect{|x| x.name }.join(" + ") %> >> <%= user.class.name == "User" ? user.name : user.profile.identable.description %> </h1>

<% end %>
<ul>
	<% @conversation.posts.each do |ff| %>
		<% if ff != @post %><%= render '/posts/show', :fff => ff %><% end %>
		<% if ff == @post %><%= render '/posts/edit', :fff => ff %><% end %>
	<% end %>
</ul>

<ul>
	<% @conversation.calls.each do |ff| %>
		<%= render '/calls/show', :fff => ff %>
	<% end %>	
</ul>

<% if user_signed_in? %>
	<br/>
	<%= render '/posts/new', :fff => [@conversation, Post.new()] %>
	<br/>
	<%= render '/calls/new', :fff => [@conversation, Call.new()] %> 
	<br/>
<% end %>
