<% provide(:title, "New conversation") %>

<%= form_for @post do |f| %>
		
			<% if @post.errors.any? %>
				<%= pluralize(@post.errors.count, "error") %> prohibited this conversation from being saved:
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			
			<%= render '/posts/new', :fff => f %><%= f.submit %>
		<% end %>
		<br/>

Calloutable:
<ul>
	<% @profiles.each do |p| %>
		<li><%=p.description %> ( ==><%= p.profileable.class.name %>)</li>
	<% end %>
</ul>
		
		<%= form_for @callout do |f| %>
		
			<% if @callout.errors.any? %>
				<%= pluralize(@callout.errors.count, "error") %> prohibited this conversation from being saved:
				<ul>
					<% @callout.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			
			<%= render '/callouts/new', :fff => f %> <%= f.submit %>
		<br/>
		
		<% end %>
		<br/>