<% provide(:title, "New conversation") %>


<% @profilesUser = @conversation.calls.where(callable_type: "User").select { |w| w.creators.include?(current_user) }.collect{|x| x.callable }.collect{|x| x.profiles }.flatten %>
<% @profilesPotentialUser = @conversation.calls.where(callable_type: "PotentialUser").select { |w| w.creators.include?(current_user) }.collect{|x| x.callable.profile } %>
<% @profiles = Profile.all - current_user.profiles - @profilesUser - @profilesPotentialUser %>

<%= form_for @post do |f| %>
		
			<% if @post.errors.any? %>
				<%= pluralize(@post.errors.count, "error") %> prohibited this conversation from being saved:
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			
			<%= render '/posts/new', :fff => f %><%= f.submit %>
		<% end %>
		<br/>

Calloutable:
<ul>
	<% @profiles.each do |p| %>
		<li><%=p.description %> ( ==><%= p.profileable.class.name %>)</li>
	<% end %>
</ul>
		
		<%= form_for @call do |f| %>
		
			<% if @call.errors.any? %>
				<%= pluralize(@call.errors.count, "error") %> prohibited this conversation from being saved:
				<ul>
					<% @call.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			
			<%= render '/calls/new', :fff => f %> <%= f.submit %>
		<br/>
		
		<% end %>
		<br/>