<% provide(:title, "Show conversation") %>
<% if user_signed_in? %>
	<% @User = User.all - [current_user] - @conversation.calls.where(callable_type: "User").select { |w| (w.supporters.include?(current_user) || w.unsupporters.include?(current_user))}.collect{|x| x.callable } %>
	<% @PotentialUser = PotentialUser.all - @conversation.calls.where(callable_type: "PotentialUser").select { |w| (w.supporters.include?(current_user) || w.unsupporters.include?(current_user)) }.collect{|x| x.callable } %>
<% end %>


<% if @conversation.posts.any? %>
<h1><%= @conversation.posts.first.title %></h1>
<% else %>
<% user =  @conversation.calls.first.callable %>

<h1><%= @conversation.calls.first.supporters.collect{|x| x.name }.join(" + ") %> >> <%= user.class.name == "User" ? user.name : user.profile.identable.description %> </h1>

<% end %>
<ul>
	<% @conversation.posts.each do |ff| %>
		<%= render '/posts/show', :fff => ff %>
	<% end %>
</ul>

<ul>
	<% @conversation.calls.each do |ff| %>
		<%= render '/calls/show', :fff => ff %>
	<% end %>	
</ul>

	<% if user_signed_in? %>
		<br/>
		<%= form_for [@conversation, @post] do |f| %>
		
			<% if @post.errors.any? %>
				<%= pluralize(@post.errors.count, "error") %> prohibited this post from being added to the conversation:
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			
			<%= render '/posts/new', :fff => f %><%= f.submit %>
		<% end %>
		<br/>

	
			

			<%= render '/calls/new', :fff => [@conversation, @call] %> 
		<br/>
		
		<br/>
	<% end %>
