<% provide(:title, "Show conversation") %>


<% if @conversation.posts.any? %>
<h1><%= @conversation.posts.first.title %></h1>
<% else %>
<% user =  @conversation.calls.first.callable %>

<h1><%= @conversation.calls.first.creators.collect{|x| x.name }.join(" + ") %> >> <%= user.class.name == "User" ? user.name : user.profile.description %> </h1>

<% end %>
<ul>
	<% @conversation.posts.each do |ff| %>
		<%= render '/posts/show', :fff => ff %>
	<% end %>
</ul>

<ul>
	<% @conversation.calls.each do |ff| %>
		<%= render '/calls/show', :fff => ff %>
	<% end %>	
</ul>

	<% if user_signed_in? %>
		<br/>
		<%= form_for [@conversation, @post] do |f| %>
		
			<% if @post.errors.any? %>
				<%= pluralize(@post.errors.count, "error") %> prohibited this post from being added to the conversation:
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			
			<%= render '/posts/new', :fff => f %><%= f.submit %>
		<% end %>
		<br/>

Calloutable:
<ul>
	<% @profiles.each do |p| %>
		<li><%= p.category.origin+" : "+p.description %> ( belongs to a <%= p.profileable.class.name %> <% if p.profileable.class.name == "User" %> who is named: <%= p.profileable.name %> <% end %>)</li>
	<% end %>
</ul>

		<%= form_for [@conversation, @call] do |f| %>
		
			<% if @call.errors.any? %>
				<%= pluralize(@call.errors.count, "error") %> prohibited this call from being added to the conversation:
				<ul>
					<% @call.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			

			<%= render '/calls/new', :fff => f %> <%= f.submit %>
		<br/>
		
		<% end %>
		<br/>
	<% end %>
