<% provide(:title, "Show conversation") %>

<%= @conversation.title%>

<% to_display = @conversation.calls + @conversation.posts %>
<% to_display_sort = to_display.sort_by { |object| object.created_at} %>

<ul>
	<% to_display_sort.each do |f| %>
		<% if f.class.name == "Call" %><li><%= render '/calls/show', :call => f %></li><% end %>
		<% if f.class.name == "Post" %><li><%= render '/posts/show', :post => f %></li><% end %>
	<% end %>
</ul>

<% if user_signed_in? %>
	<br/>
	<%= render '/posts/new', :post => [@conversation, @post] if current_user.can_post?(@conversation)%>
	<br/>
	<%= render '/calls/new', :call => [@conversation, @call] if current_user.can_call?(@conversation) %> 
	<br/>
<% end %>
