<% provide(:title, "Show conversation") %>

<h1><%= @conversation.title%>...</h1>

<% to_display = @conversation.calls.select{|x| x.post.nil? && x.status != "removed"} + @conversation.posts.select{|x| x.status != "removed"} %>
<% to_display_sort = to_display.sort_by { |object| object.created_at} %>

<ul>
	<% to_display_sort.each do |f| %>
		<% if f.class.name == "Call" %><li><%= render '/calls/show', :call => f %></li><% end %>
		<% if f.class.name == "Post" %><li><%= render '/posts/show', :post => f %></li><% end %>
	<% end %>
</ul>

<% if user_signed_in? %>
	<br/>
	<h2>Post this Up on Someone'S Wall...</h2>
	<%= render '/calls/new', :call => [@conversation, @call], object: @call if current_user.can_call?(@conversation) %>
	<br/>
	<h2>Post Up Something...</h2>
	<%= form_for [@conversation, @post] do |f| %>
		<%= render '/posts/new', f: f, object: @post %>
		<%= f.submit "Post Up" %>
	<% end %>

	<br/>
<% end %>


