<% provide(:title, "Show conversation") %>
A SERIEUSEMNT REVOIR   ================================> 
<% if user_signed_in? %>
	<% @User = User.all - [current_user] - \
	@conversation.calls.where(callable_type: "User")\
	.select { |w| (w.supporters.include?(current_user) || w.unsupporters.include?(current_user))}\
	.select { |w| w.callable.can_post?(@conversation) || w.callable.can_call?(@conversation)}\
	.collect{|x| x.callable } %>
	<% @PotentialUser = PotentialUser.all - @conversation.calls.where(callable_type: "PotentialUser").select { |w| (w.supporters.include?(current_user) || w.unsupporters.include?(current_user)) }.collect{|x| x.callable } %>
<% end %>


<% if @conversation.posts.any? %>
	<h1><%= @conversation.posts.first.title %></h1>
<% else %>
	<% user =  @conversation.calls.first.callable %>
	<h1>
	<%= @conversation.calls.first.supporters.collect{|x| x.name }.join(" + ") %> >> <%= user.class.name == "User" ? user.name : user.profile.class.name+" : "+user.profile.description %> 
	</h1>
<% end %>

<ul>
	<% @conversation.posts.where(parent: @conversation).each do |f| %>
		<li><%= render '/posts/show', :fff => f %></li>
	<% end %>
</ul>

<ul>
	<% @conversation.calls.where(parent: @conversation).each do |f| %>
		<li><%= render '/calls/show', :fff => f %></li>
	<% end %>	
</ul>
<ul>
	<% @conversation.aftfs.select{|x| x.parent_call == @conversation}.each do |f| %>
		<li><%= render '/aftfs/show', :fff => f %></li>
	<% end %>	
</ul>
<%= "AFTF IN THE AIR: " if @conversation.aftfs.select{|x| x.alive? }.any? %>
<ul>
	<% @conversation.aftfs.select{|x| x.alive? }.each do |f| %>
		<li><%= render '/aftfs/show', :fff => f %></li>
	<% end %>	
</ul>


<% if user_signed_in? %>
	<br/>
	<%= render '/aftfs/new', :fff => [@conversation, @aftf] if current_user.can_aftf?(@conversation)%>
	<br/>
	<%= render '/posts/new', :fff => [@conversation, @post] if current_user.can_post?(@conversation)%>
	<br/>
	<%= render '/calls/new', :fff => [@conversation, @call] if current_user.can_call?(@conversation) %> 
	<br/>
<% end %>
