<% provide(:title, "Show Potential User") %>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class="container">
	<div class="row">
		<span class="btn-group"><h2>Welcome on  <%= render '/user_link', :user => @user %>'s wall...</h2></span>
		<span class="btn-group"><%= button_to("Make this profile mine !", profiles_attach_to_user_path, method: :post, params: { "profile[global_id]" => get_profile_global_id(@user.profile) }, class: 'btn btn-small') if user_signed_in? %></span>
	</div>
</div>
<div class="container">
	<% @objects.each do |f| %>
	<div class="row">
		<div class="col-sm-10">
			<% if f.class.name == "Call" %>
					<%= render '/calls/show_wall', call: f %>
			<% end %>
		</div>
	</div>
	<% end %>
</div>



<% if user_signed_in? %> 
	<h2>Post Up Something...</h2>

	<%= form_for @conversation do |f| %>
		<%= render '/conversations/new', f: f, object: @conversation %>
		<%= hidden_field_tag(:from, "PotentialUser") %>
		<%= hidden_field_tag(:user, @user.id) %>
		<%= f.submit "Post Up"  %>
	<% end %>

<% end %> 