<% provide(:title, "Show Potential User") %>


<%= button_to "Make this profile mine !", profiles_attach_to_user_path, method: :post, params: { "profile[global_id]" => get_profile_global_id(@user.profile) }, form_class: "button_link" if user_signed_in? %>

<%= render '/potential_users/show_supports', :potential_user => @user %>

<ul>
	<% @objects.each do |f| %>
		<li>
			<% if f.class.name == "Call" %>
				<%= link_to(f.conversation.posts[0].content[0, 140]+"...",f.conversation) %>
				<%= render '/calls/show', :call => f %>
			<% end %>
		</li>
	<% end %>
</ul>

<% if user_signed_in? %> 
	<h2>Post Up Something on  <%= render '/user_link', :user => @user %>'s wall...</h2>

	<%= form_for @conversation do |f| %>
		<%= render '/conversations/new', f: f, object: @conversation %>
		<%= hidden_field_tag(:from, "PotentialUser") %>
		<%= hidden_field_tag(:user, @user.id) %>
		<%= f.submit "Post Up"  %>
	<% end %>

<% end %> 