<h2>Aftf</h2>

<% if user_signed_in? && (aftf.creator == current_user) %>  
	<%= "You asked for the floor" %>  
	<%= button_to "Remove Aftf",  url_for(controller: 'aftfs', action: 'destroy', id: aftf), method: :delete, data: { confirm: "Are you sure?" },form_class: "button_link" if aftf.alive?%>
	<%= (aftf.accepted?) ? ("and were accepted by") : ("and were refused by") if !aftf.alive? %>
	<%= render '/user_link', :user => aftf.answer_call.callable if !aftf.alive? && aftf.answer_call_type == "Call"%>
	<%= render '/user_link', :user => aftf.answer_call.creator if !aftf.alive? && aftf.answer_call_type == "Conversation"%>
<% else %>
	<%= link_to(aftf.creator.name,aftf.creator)+" asked for the floor".html_safe %>
	<%= (aftf.accepted?) ? ("and was accepted by") : ("and was refused by") if !aftf.alive? %>
	<%= render '/user_link', :user => aftf.answer_call.callable if !aftf.alive? && aftf.answer_call_type == "Call" %>
	<%= render '/user_link', :user => aftf.answer_call.creator if !aftf.alive? && aftf.answer_call_type == "Conversation" %>
<% end %>

<% if user_signed_in? %>
	<% if current_user.can_s_or_u_aftf?(aftf)%>
		<%= button_to "Up This Aftf", url_for(controller: 'aftfs', action: 'support', id: aftf ), method: :post, form_class: "button_link" if !aftf.supporters.include?(current_user)%>
		<%= button_to "Remove feeling",  url_for(controller: 'aftfs', action: 'remove', id: aftf), method: :delete, form_class: "button_link" if (aftf.supporters.include?(current_user)) || aftf.unsupporters.include?(current_user)%>
		<%= button_to "Down This Aftf",  url_for(controller: 'aftfs', action: 'unsupport', id: aftf  ), method: :post, form_class: "button_link" if !aftf.unsupporters.include?(current_user) %>
	<% end %>
	<% if current_user.can_call?(aftf.conversation) && current_user.can_s_or_u_aftf?(aftf) %>	
		<%= button_to "Accept this AFTF", url_for(controller: 'aftfs', action: 'accept', id: aftf ), method: :post, form_class: "button_link" %>
		<%= button_to "Refuse this AFTF", url_for(controller: 'aftfs', action: 'refuse', id: aftf ), method: :post, form_class: "button_link" %>
	<% end %>
<% end %>


<br/>Supported by: <% aftf.supporters.each do |x| %>  <%= render '/user_link', :user => x %>  <% end %>
<br/>Unsupported by: <% aftf.unsupporters.each do |x| %>  <%= render '/user_link', :user => x %>  <% end %>




