<h2>...And Pin It To Someone'S Wall...</h2>

<% if @call.errors.any? %>
	<%= pluralize(@call.errors.count, "error") %> prohibited this conversation from being saved:
	<ul>
		<% @call.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<br/><br/>

<%= form_tag(call) do %>
	Select the Name of the user you want to call out: <br/>
	<%= select_tag 'call[global_id]', \
	options_for_select(current_user.displayable_user(@conversation).collect{|p| [ "USER : "+p.name+" : "+p.profiles.collect{|x| x.class.name+" "+x.description }.join(", "), get_user_global_id(p) ]} + \
	current_user.displayable_potential_user(@conversation).to_a.collect{|p| [ "POTENTIAL USER : "+p.profile.class.name+" : "+p.profile.description, get_user_global_id(p) ]}), \
	prompt: "Select User", \
	:onchange => "this.form.submit()"  %>
<% end %>


<%= form_tag(call) do %>
	Or enter a new profil URL <br/>
	(example: www.facebook.com/bebeun92 or www.twitter.com/benoit81) <br/>
	<%= text_field_tag 'call[display]', nil, placeholder: 'Entire a new profile URL...' %>
	
	 <%= submit_tag 'Submit' %>
	<br/>
<% end %>