<h2>New Call Partial --------------------------- </h2>

<% if @call.errors.any? %>
	<%= pluralize(@call.errors.count, "error") %> prohibited this conversation from being saved:
	<ul>
		<% @call.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%# 2p => USER / 2p+1 => POTENTIAL USER %>
<%# DIRTY %>

<%= form_for fff do |f| %>
	Select the Name of the user you want to call out: <br/>
	<%= select("call", "callable_id", \
	@User.collect{|p| [ "USER : "+p.name+" : "+p.profiles.collect{|x| x.class.name+" "+x.description }.join(", "), 2*p.id ]} + \
	@PotentialUser.collect{|p| [ "POTENTIAL USER : "+p.profile.class.name+" : "+p.profile.description, 2*p.id+1 ]}, \
	{prompt: 'Select User'}, \
	:onchange => "this.form.submit()") %>
	<br/><br/>
<% end %>


<%= form_for fff do |f| %>
	Or enter a new profil URL <br/>
	(exemple: www.facebook.com/bebeun92 or www.twitter.com/benoit81) <br/>
	<%= text_field_tag 'call[display]', 'Entire a new profile URL...' %>
	
	 <%= f.submit %>
	<br/>
<% end %>

<h2>--------------------------------------------- </h2>