<h2>Call</h2>

<% user =  fff.callable %>
Callout : 	( initially created by: <%= render '/user_link', :xx => fff.creator %> ) ===> >> <%= render '/user_link', :xx => user %>


<% if user_signed_in? %>
	<% if current_user.can_s_or_u_call?(fff) %>
		<%= button_to "Up This Callout",  url_for(controller: 'calls', action: 'support', id: fff ), method: :post, form_class: "button_link" if !fff.supporters.include?(current_user)%>
		<%= button_to "Remove feeling",  url_for(controller: 'calls', action: 'remove', id: fff), method: :delete, form_class: "button_link" if !current_user.can_not_unsupport_or_destroy?(fff) && (fff.supporters.include?(current_user) || fff.unsupporters.include?(current_user))%>
		<%= button_to "Down This Callout",  url_for(controller: 'calls', action: 'unsupport', id: fff ), method: :post, form_class: "button_link" if !current_user.can_not_unsupport_or_destroy?(fff) && !fff.unsupporters.include?(current_user) %>
	<% end %>
<% end %>

<br/>Supported by: <% fff.supporters.each do |x| %>  <%= render '/user_link', :xx => x %><% end %>
<br/>Unsupported by: <% fff.unsupporters.each do |x| %> <%= render '/user_link', :xx => x %><% end %>

<ul>
	<% fff.conversation.posts.where(parent: fff).each do |f| %>
		<li><%= render '/posts/show', :fff => f %></li>
	<% end %>
	<% fff.conversation.calls.where(parent: fff).each do |f| %>
		<li><%= render '/calls/show', :fff => f %></li>
	<% end %>	
	<% fff.conversation.aftfs.where(answer_call: fff).each do |f| %>
		<li><%= render '/aftfs/show', :fff => f %></li>
	<% end %>
</ul>


