<% if call.swept %><font color="#555555" size="1"><% end %>

<h2>Call <%= "(Declined)" if call.declined %></h2> 

<% user =  call.callable %>
<%= render '/user_link', :user => call.creator %> > <%= render '/user_link', :user => user %>
<br/>
<% if user_signed_in? %>
	<%= button_to "Up This Call",  url_for(controller: 'calls', action: 'support', id: call ), method: :post, form_class: "button_link" if current_user.can_s_call?(call) %>
	<%= button_to "Remove feeling",  url_for(controller: 'calls', action: 'remove', id: call), method: :delete, form_class: "button_link" if current_user.can_remove_s_or_u_call?(call) %>
	<%= button_to "Down This Call",  url_for(controller: 'calls', action: 'unsupport', id: call ), method: :post, form_class: "button_link" if current_user.can_u_call?(call) %>
	<%= link_to "Answer This Call",  url_for(controller: 'conversations', action: 'show', id: call.conversation ), method: :get, form_class: "button_link" if current_user.can_answer_call?(call) %>
<% end %>
<br/>Supported by: <% call.supporters.each do |x| %>  <%= render '/user_link', :user => x %><% end %>
<br/>Unsupported by: <% call.unsupporters.each do |x| %> <%= render '/user_link', :user => x %><% end %>
</font>




