<h2>Show Call Partial --------------------------- </h2>

<% user =  fff.callable %>
Callout : 	( initially created by: <%=link_to( fff.creator.name , fff.creator) %> ) ===> >> <%= user.class.name == "User" ? link_to(user.name, user) : link_to(user.profile.class.name+" : "+user.profile.description, user ) %>

<%= button_to "Up This Callout",  url_for(controller: 'calls', action: 'support', id: fff ), method: :post, form_class: "button_link" if(user_signed_in? && !fff.supporters.include?(current_user))%>
<%= button_to "Remove feeling",  url_for(controller: 'calls', action: 'remove', id: fff), method: :delete, form_class: "button_link" if(user_signed_in? && (fff.supporters.include?(current_user)) || fff.unsupporters.include?(current_user))%>
<%= button_to "Down This Callout",  url_for(controller: 'calls', action: 'unsupport', id: fff ), method: :post, form_class: "button_link" if(user_signed_in? && !fff.unsupporters.include?(current_user))%>
	
<br/>Supported by: <% fff.supporters.each do |x| %>  <%= link_to x.name, x %> <% end %>
<br/>Unsupported by: <% fff.unsupporters.each do |x| %>  <%= link_to x.name, x %> <% end %>

<h2>------------------------------------------------------ </h2>



