<ul>
	<% if call.brother_aftf %>
		<li>
		This 
		<%= render '/aftfs/show', :aftf => call.brother_aftf  %>
		</li>
	<% end %>


	<% if call.child_aftfs.select{|x| !x.accepted }.any? %>
		<% call.child_aftfs.select{|x| !x.accepted }.each do |x| %>
			<li>
			<%= render '/aftfs/show', :aftf => x %>
			</li>
		<% end %>
	<% end %>

	<li>
	<h2>Call</h2>
	<% user =  call.callable %>
	Callout : 	( initially created by: <%= render '/user_link', :user => call.creator %> ) ===> >> <%= render '/user_link', :user => user %>

	<% if user_signed_in? %>
		<%= button_to "Up This Call",  url_for(controller: 'calls', action: 'support', id: call ), method: :post, form_class: "button_link" if current_user.can_s_call?(call) %>
		<%= button_to "Remove feeling",  url_for(controller: 'calls', action: 'remove', id: call), method: :delete, form_class: "button_link" if current_user.can_remove_s_or_u_call?(call) %>
		<%= button_to "Down This Call",  url_for(controller: 'calls', action: 'unsupport', id: call ), method: :post, form_class: "button_link" if current_user.can_u_call?(call) %>
		<%= button_to "Remove Call",  url_for(controller: 'calls', action: 'destroy', id: call ), method: :delete, form_class: "button_link" if current_user.can_destroy_call?(call) %>
	<% end %>

	<br/>Supported by: <% call.supporters.each do |x| %>  <%= render '/user_link', :user => x %><% end %>
	<br/>Unsupported by: <% call.unsupporters.each do |x| %> <%= render '/user_link', :user => x %><% end %>
	</li>
	
	<% if !call.child_post.nil? %>
		<li>
			<%= render '/posts/show', :post => call.child_post %>
		</li>
	<% end %>
	<% if call.child_calls.any? %>
		<li>
			<% call.child_calls.each do |f| %>
				<%= render '/calls/show', :call => f %>
			<% end %>	
		</li>
	<% end %>	
</ul>


