<h2>Show User Supports and Unsupports Partial ------------------------------------ ></h2>
<%= (user_signed_in? && user != current_user) ? ("This is #{user.name} profile" ) : ("Dear #{user.name} , this is your profile") %> 


<% if user_signed_in? && user != current_user %> 
	<%= button_to "Support #{user.name}", url_for(controller: 'users', action: 'support', id: user.id ), method: :post, form_class: "button_link" if !user.supporters.include?(current_user)%>
	<%= button_to "Dis support #{user.name}", url_for(controller: 'users', action: 'remove_support', id: user.id ), method: :delete, form_class: "button_link"  if user.supporters.include?(current_user) %>
	<%= button_to "Dis unsupport #{user.name}", url_for(controller: 'users', action: 'remove_support', id: user.id ), method: :delete, form_class: "button_link"  if user.unsupporters.include?(current_user) %>
	<%= button_to "Unsupport #{user.name}", url_for(controller: 'users', action: 'unsupport', id: user.id ), method: :post, form_class: "button_link"  if !user.unsupporters.include?(current_user) %>
	
	
<% end %> 

<% if !user_signed_in? || user != current_user %> 
	<ul>
		<li><%= user.name %> is supported by:
			<% user.supporters.each do |x| %><%= render '/user_link', :xx => x %><% end %>		
		</li>
		<li><%= user.name %> is unsupported by:
			<% user.unsupporters.each do |x| %><%= render '/user_link', :xx => x %><% end %>
		</li>
		<li><%= user.name %> supports:
			<% user.supporting.each do |x| %><%= render '/user_link', :xx => x %><% end %>
		</li>
		<li><%= user.name %> unsupports:
			<% user.unsupporting.each do |x| %><%= render '/user_link', :xx => x %><% end %>
		</li>
	</ul>
<% end %> 

<% if user_signed_in? && user == current_user %> 
	<ul>
		<li>You support: 
			<% current_user.supporting.each do |x| %><%= render '/user_link', :xx => x %><% end %>
		</li>
		<li>You unsupport:
			<% current_user.unsupporting.each do |x| %><%= render '/user_link', :xx => x %><% end %>
		</li>
		<li>You are supported by : 
			<% current_user.supporters.each do |x| %><%= render '/user_link', :xx => x %><% end %>
		</li>
		<li>You are unsupported by :
			<% current_user.unsupporters.each do |x| %><%= render '/user_link', :xx => x %><% end %>			
		</li>
	</ul>
<% end %> 

<h2>---------------------------------------------------------------------------------------- </h2>