<% provide(:title, "Show User") %>

<% if (user_signed_in? && @user != current_user) || !user_signed_in?%> 
	<%= "This is #{@user.name} profile" %> 
<% else %>
	<%= "Dear #{@user.name} , this is your profile. You can also " %> 
	<%= link_to("edit", edit_user_registration_path) %> 
	it.
<% end %> 

<%# render '/users/edit_supports', :user => @user %>
<%# render '/users/show_profiles', :user => @user %>

<ul>
	<% @objects.each do |f| %>
		<li>
			<% if f.class.name == "Call" %>
				<%= link_to(f.conversation.title,f.conversation) %>
				<%= render '/calls/show', :call => f %>
			<% end %>
			<% if f.class.name == "Post" %>
				<%= link_to(f.conversation.title, f.conversation) %>
				<%= render '/posts/show', :post => f %>
			<% end %> 
			<% if f.class.name == "ObjectAction"  %>
				<%= link_to(f.object.conversation.title,f.object.conversation) %>
				<%= render '/object_actions/show', :oa => f %>
			<% end %>
			<br/>
			<%= link_to "Sweep",  url_for(controller: 'users', action: 'sweep_until', time_limit: f.created_at ), method: :post, data: { confirm: "Are you sure? This can't be undone! " }, form_class: "button_link" if current_user.can_sweep?(@user)  if user_signed_in? %><br/>
		</li>
	<% end %>
</ul>



<% if user_signed_in? %> 
	<h2>Post Up Something on <%= (@user == current_user) ? ("your") : (@user.name+"\'s")  %> wall...</h2>

	<%= form_for @conversation do |f| %>
		<%= render '/conversations/new', f: f, object: @conversation %>		
		<%= hidden_field_tag(:from, "User") %>
		<%= hidden_field_tag(:user, @user.id) %>
		<%= f.submit "Post Up"  %>
	<% end %>

<% end %> 
