<% provide(:title, "Show User") %>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script language="javascript">
window.onload = function(e) {
        $("#modal-window").bind("hidden.bs.modal", function () {
			location.reload();
		});    
};
</script>

<h2>Welcome on <%= (@user == current_user) ? ("your") : (@user.name+"\'s")  %> wall...</h2></br>

<div class="container">
	<% @objects.each do |f| %>
	<div class="row">
		<div class="col-sm-10">
			<% if f.class.name == "Call" %>
					<%= render '/calls/show_wall', call: f %>
			<% end %>

			<% if f.class.name == "Post" %>
					<%= render '/posts/show_wall', :post => f %>
			<% end %> 

			<% if f.class.name == "ObjectAction"  %>
				<%= link_to(f.object.conversation) do %>
					<% if f.object_type == "Post" %> <%= render '/posts/show_wall', post: f.object %><% end %>
					<% if f.object_type == "Call" %><%= render '/calls/show_wall', call: f.object %><% end %>
				<% end %>
			<% end %>
			<br/>
		</div>
	</div>
	<% end %>
</div>

<% if user_signed_in? %> 
	<h2>Post Up Something...</h2>

	<%= form_for @conversation do |f| %>
		<%= render '/conversations/new', f: f, object: @conversation %>		
		<%= hidden_field_tag(:from, "User") %>
		<%= hidden_field_tag(:user, @user.id) %>
		<%= f.submit "Post Up"  %>
	<% end %>

<% end %> 
