<div class="container bg-warning" >
<div class="modal-header">
		<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<h3 id="myModalLabel">Conversation</h3>
</div>
<div class="modal-body">

<% if @post.feeling == "bad" %><div style="background:#FA5858; border-style:solid;"><% end %>
<% if @post.feeling == "neutral" %><div style="background:#ECE5B6;  border-style:solid;"><% end %>
<% if @post.feeling == "good" %><div style="background:#82FA58;  border-style:solid;"><% end %>

	<h2>Edit Post Partial</h2>	
	<%= form_for(@post, remote: true) do |f| %>

		<% if @post.errors.any? %>
			<%= pluralize(@post.errors.count, "error") %> prohibited this post from being updated:
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		
		<%= f.label :content %>
		<%= f.text_area :content %>
		
		<%= f.radio_button :feeling, 'bad'%> 
		<%= label :feeling, 'Bad' %>
		<%= f.radio_button :feeling, 'neutral' %> 
		<%= label :feeling, 'Neutral' %>
		<%= f.radio_button :feeling, 'good' %> 
		<%= label :feeling, 'Good' %>
		
		<%= hidden_field_tag(:back, @back) %>
		
		<%= f.submit %>
	<% end %>

	<br/>Posted Up by: <% @post.supporters.each do |x| %>  <%= render '/user_link', :user => x %> <% end %>
	<br/>Unsupported by: <% @post.unsupporters.each do |x| %>  <%= render '/user_link', :user => x %><% end %>
	<br/> <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>

<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>