<% if !object.nil? %>
	<% if object.errors.any? %>
		<%= pluralize(object.errors.count, "error") %> prohibited this post from being added to the conversation:
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
<% end %>

<%= f.label :content %>
<%= f.text_area :content %>
	
<%= f.radio_button :feeling, 'bad'%> 
<%= label :feeling, 'Bad' %>
<%= f.radio_button :feeling, 'neutral', :checked => true %> 
<%= label :feeling, 'Neutral' %>
<%= f.radio_button :feeling, 'good' %> 
<%= label :feeling, 'Good' %>
	

