<h2>New Post Partial --------------------------- </h2>

<%= form_for fff do |f| %>

	<% if @post.errors.any? %>
		<%= pluralize(@post.errors.count, "error") %> prohibited this post from being added to the conversation:
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :content %>
	<%= f.text_area :content %>
	
	<%= f.submit %>
<% end %>

<h2>------------------------------------------------------ </h2>