<h2>Show Post Partial --------------------------- </h2>

Post : <%= fff.title %>, <%= fff.content %>, <%= link_to fff.creator.name, fff.creator %>

<% if (fff.can_be_edited? && user_signed_in? && fff.creator == current_user)%>
	<%= button_to "Delete this post", url_for(controller: 'posts', action: 'destroy', id: fff ), method: :delete, data: { confirm: "Are you sure?" }, form_class: "button_link" %>
	<%= link_to "Edit this post",  edit_conversation_post_path(@conversation, fff), method: :get, data: { confirm: "Are you sure? This will reset all (un)supports" } %>
<% end %>

<% if user_signed_in? && fff.creator != current_user %>
	<%= button_to "Up This Post", url_for(controller: 'posts', action: 'support', id: fff ), method: :post, form_class: "button_link" if !fff.supporters.include?(current_user)%>
	<%= button_to "Remove feeling",  url_for(controller: 'posts', action: 'remove', id: fff), method: :delete, form_class: "button_link" if (fff.supporters.include?(current_user)) || fff.unsupporters.include?(current_user)%>
	<%= button_to "Down This Post",  url_for(controller: 'posts', action: 'unsupport', id: fff  ), method: :post, form_class: "button_link" if !fff.unsupporters.include?(current_user) %>
<% end %>

<br/>Supported by: <% fff.supporters.each do |x| %>  <%= link_to x.name, x %> <% end %>
<br/>Unsupported by: <% fff.unsupporters.each do |x| %>  <%= link_to x.name, x %> <% end %>

<h2>------------------------------------------------------ </h2>
