<% if post.feeling == "bad" %><div style="background:#FA5858; border-style:solid;"><% end %>
<% if post.feeling == "neutral" %><div style="background:#ECE5B6;  border-style:solid;"><% end %>
<% if post.feeling == "good" %><div style="background:#82FA58;  border-style:solid;"><% end %>

<%= "(Removed)" if post.status == "removed" %>
<%= "C'est une réponse" if post.call %>
<%= "Post edited at #{post.updated_at}" if post.edited? %>

<% if post.conversation.posts[0] != post %>
<%= link_to(post.conversation.posts[0].content, post.conversation,{remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'})%>
<% end %>

<%= render '/user_link', :user => post.creator %> : <%= link_to(post.content , post.conversation,{remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) %>
<br/>

			
		<% if user_signed_in? %>
			<%= link_to("Edit this post",  edit_post_path(post), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-post'}) if current_user.can_edit_post?(post) %>
			<%= button_to "Post Up", url_for(controller: 'posts', action: 'support', id: post ), method: :post,  class: "btn-link" if current_user.can_s_post?(post)%>
			<%= button_to "Remove feeling",  url_for(controller: 'posts', action: 'remove', id: post), method: :delete,  class: "btn-link" if current_user.can_remove_s_or_u_post?(post) %>
			<%= button_to "Discard",  url_for(controller: 'posts', action: 'unsupport', id: post  ), method: :post,  class: "btn-link" if current_user.can_u_post?(post) %>
		<% end %>

		<br/>Posted Up by: <% post.supporters.each do |x| %>  <%= render '/user_link', :user => x %> <% end %>
		<br/>Discarded by: <% post.unsupporters.each do |x| %>  <%= render '/user_link', :user => x %> <% end %>
</div>
