<% if post.feeling == "bad" %><div style="background:#FA5858; border-style:solid;"><% end %>
<% if post.feeling == "neutral" %><div style="background:#ECE5B6;  border-style:solid;"><% end %>
<% if post.feeling == "good" %><div style="background:#82FA58;  border-style:solid;"><% end %>

	<%= "(Removed)" if post.status == "removed" %>
	<%= "C'est une réponse !!!" if post.call %>
	
		<%= render '/user_link', :user => post.creator %> : <%= post.content %><br/>
		<% if post.edited? %>
			Post edited at <%= post.updated_at %><br/>
		<% end %>
		<% if user_signed_in? %>
			<%= link_to("Edit this post",  edit_post_path(post), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-post'}) if current_user.can_edit_post?(post) %>
			<%= button_to "Post Up", url_for(controller: 'posts', action: 'support', id: post ), method: :post,remote: true, class: "btn-link" if current_user.can_s_post?(post)%>
			<%= button_to "Remove feeling",  url_for(controller: 'posts', action: 'remove', id: post), method: :delete, remote: true, class: "btn-link" if current_user.can_remove_s_or_u_post?(post) %>
			<%= button_to "Discard",  url_for(controller: 'posts', action: 'unsupport', id: post  ), method: :post, remote: true, class: "btn-link" if current_user.can_u_post?(post) %>
		<% end %>

		<br/>Posted Up by: <% post.supporters.each do |x| %>  <%= render '/user_link', :user => x %> <% end %>
		<br/>Discarded by: <% post.unsupporters.each do |x| %>  <%= render '/user_link', :user => x %> <% end %>
</div>