<% provide(:title, "Edit Profile") %>

<h2>Manage your Profiles</h2>
<h3>Your current profiles</h3>
<ul>
	<% @current_user.profiles.each do |ff| %>
		<li> <%= ff.identable_type+" : "+ff.identable.description %> <%= button_to "Remove", url_for(controller: '/profiles', action: 'detach_from_user' ), method: :post, params: { id: ff}, form_class: "button_link" %></li>
	<% end %>	
</ul>

<h3>Add other profiles</h3>

FOR TWITTER:
<%= form_for(@profile, url: profiles_attach_to_user_path, html: { method: :post }) do |f| %>
	Select the Profile you want to make yours: <br/> 
	<%= select("profile", "id", PotentialUser.all.collect{|p| p.profile}.select{|p| p.identable_type == "Twitter"}.collect{|p| [p.identable_type+" : "+p.identable.description, p.id ]}, {prompt: 'Select Profile'}, :onchange => "this.form.submit()") %><br/><br/>
<% end %>

FOR FACEBOOK
<%= form_for(@profile, url: profiles_attach_to_user_path, html: { method: :post }) do |f| %>
	Select the Profile you want to make yours: <br/> 
	<%= select("profile", "id", \
			PotentialUser.all.collect{|p| p.profile}.  \
			select{|p| p.identable_type == "Facebook"}.  \
			collect{|p| p.identable}.  \
			select{|p| !current_user.has_this_identable?(p) && !current_user.has_pending_facebook_activations?(p)}.  \
			collect{|p| [p.description,new_facebook_facebook_activation_path(p) ]}  \
		, {prompt: 'Select FB Profile'},   \
		:onchange => "window.location.href=this.value")   \
	%>
	<br/><br/>
<% end %>

<%= form_for(@profile, url: profiles_attach_to_user_path, html: { method: :post }) do |f| %>
	Or enter a new profil URL <br/>
	(exemple: www.facebook.com/bebeun92 or www.twitter.com/benoit81) <br/>
	
	<%= text_field_tag 'profile[display]', 'Entire a new profile URL...' %>
	
	 <%= f.submit %>
	<br/>
<% end %>


<br/>
<%= "You already asked for these profils: " if current_user.facebook_activations.any? %>
<ul>
<% FacebookActivation.all.where(user: current_user, activated: false).each do |p|%>
	<li><%= p.facebook.description %><i><%= " (Already asked for this profil "+time_ago_in_words(p.updated_at)+" ago)" %></i>
	<%= button_to "Resend email",  url_for(controller: '/facebook_activations', action: 'resend', id: p), method: :post, form_class: "button_link" if p.updated_at < 2.minutes.ago %>
	<%= button_to "Cancel Facebook request",  url_for(controller: '/facebook_activations', action: 'cancel', id: p), method: :delete, form_class: "button_link" %>
	</li>
<% end %>
</ul>
<br/><br/>

			

<h2>Edit your details</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>
  
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name, autofocus: true %>
		</div>
  
		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true %>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<div class="field">
			<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
			<%= f.password_field :password, autocomplete: "off" %>
		</div>

		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
		</div>

		<div class="field">
			<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
			<%= f.password_field :current_password, autocomplete: "off" %>
		</div>

		<div class="actions">
			<%= f.submit "Update" %>
		</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

