<% provide(:title, "Edit Profile") %>

<h2>Manage your Profiles</h2>
<h3>Your current profiles</h3>
<ul>
	<% @current_user.profiles.each do |ff| %>
		<li> <%= ff.identable_type+" : "+ff.identable.description %> <%= button_to "Remove", url_for(controller: '/profiles', action: 'detach_from_user' ), method: :post, params: { id: ff}, form_class: "button_link" %></li>
	<% end %>	
</ul>

<h3>Add other profiles</h3>

<%= form_for(@profile, url: profiles_attach_to_user_path, html: { method: :post }) do |f| %>
	Select the Profile you want to make yours: <br/> 
	<%= select("profile", "id", PotentialUser.all.collect{|p| p.profile}.collect{|p| [p.identable_type+" : "+p.identable.description, p.id ]}, {prompt: 'Select Profile'}, :onchange => "this.form.submit()") %><br/><br/>
<% end %>

<%= form_for(@profile, url: profiles_attach_to_user_path, html: { method: :post }) do |f| %>
	Or enter a new profil URL <br/>
	(exemple: www.facebook.com/bebeun92 or www.twitter.com/benoit81) <br/>
	
	<%= text_field_tag 'profile[display]', 'Entire a new profile URL...' %>
	
	 <%= f.submit %>
	<br/>
<% end %>


<h2>Edit your details</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>
  
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name, autofocus: true %>
		</div>
  
		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true %>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<div class="field">
			<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
			<%= f.password_field :password, autocomplete: "off" %>
		</div>

		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
		</div>

		<div class="field">
			<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
			<%= f.password_field :current_password, autocomplete: "off" %>
		</div>

		<div class="actions">
			<%= f.submit "Update" %>
		</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

